@charset "UTF-8";

body{
    max-width: 1200px;
    background-color: #d8d2ce;
    
}

ul{
    margin-left: 0;
    padding-left: 0;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.logo{
    color: #fff;
    background-color: #483d36;
    width: 300px;
    text-align: center;
    margin: 30px auto;
}
nav{
    background-color: #8d8886;
    padding: 10px 100px;
    display: flex;
}

header ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

header li{
    display: table-cell;
    border-right: solid 1px #fff;
}

header li:last-child{
    border-right: none;
}

header li a{
    font-weight: bold;
    color: #fff;
}

header li a:hover{
    opacity: 0.8;
}

.wrapper{
    margin-top: 60px;
    text-align: center;
}

.section-title{
    border-bottom: solid 1px #333;
    margin-bottom: 30px;
    font-family: 'Crimson Text', serif;
}

dt{
    float: left;
}

dd{
    text-align: left;
    margin-left: 80px;
}

dl{
    margin-left: 100px;
}

.song{
    color: #333;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 15px;
}
#timetable{
    margin-bottom: 100px;
}
footer{
    text-align: center;
}